In [3]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [8]:
# Extract CSVs into DataFrames

file = "Resources/us_museums_final.csv"
us_museums_df = pd.read_csv(file, low_memory = False)
us_museums_df.head()

FileNotFoundError: File b'Resources/us_museums_final.csv' does not exist

In [6]:
# Transform DataFrame into tables

# TABLE 1 - Museums by NAME

# Create a filtered dataframe from specific columns
name_col = ["MID", "COMMONNAME", "LEGALNAME"]
museums_by_name = us_museums_df[name_col].copy()

# Rename the column headers
museums_by_name = museums_by_name.rename(columns = {"MID": "id",
                                                          "COMMONNAME": "common_name",
                                                          "LEGALNAME": "legal_name"})

# Clean the data by dropping duplicates and setting the index
museums_by_name.drop_duplicates("id", inplace = True)
museums_by_name.set_index("id", inplace = True)

museums_by_name.head()

,common_name,legal_name
id,,
8400100026,MOBILE MUSEUM OF ART,THE MOBILE MUSEUM OF ART INC
8400100029,MONTGOMERY MUSEUM OF FINE ARTS,MONTGOMERY MUSEUM OF FINE ARTS ASSOCIATION
8400100036,HISTORY MUSEUM OF MOBILE,MOBILE MEDICAL MUSEUM INC
8400100037,JASMINE HILL GARDENS AND OUTDOOR MUSEUM,JASMINE HILL GARDENS AND OUTDOOR MUSEUM
8400100045,JAN DEMPSEY ARTS CENTER,JAN DEMPSEY ARTS CENTER

In [23]:
# Transform DataFrame into tables

# TABLE 2 - Museums by ADDRESS 

# Create a filtered dataframe from specific columns
name_col = ["MID", "ADSTREET", "ADCITY", "ADSTATE", "ADZIP5", "LONGITUDE", "LATITUDE"]
museums_by_address = us_museums_df[name_col].copy()

# Rename the column headers
museums_by_address = museums_by_address.rename(columns = {"MID": "id",
                                                    "ADSTREET": "street_address",
                                                    "ADCITY": "city",
                                                    "ADSTATE": "state",
                                                    "ADZIP5": "zip_code",
                                                    "LONGITUDE": "longitude",
                                                    "LATITUDE": "latitude"
                                                   })

# Clean the data by dropping duplicates and setting the index
museums_by_address.drop_duplicates("id", inplace = True)
museums_by_address.set_index("id", inplace = True)

museums_by_address.head(40)

,street_address,city,state,zip_code,longitude,latitude
id,,,,,,
8400100026,4850 MUSEUM DR,MOBILE,AL,36689,-88.15462,30.70401
8400100029,ONE MUSEUM DRIVE,MONTGOMERY,AL,36123,-86.2087,32.3526
8400100036,111 SOUTH ROYAL STREET,MOBILE,AL,36602,-88.07704,30.69234
8400100037,3001 JASMINE HILL RD,WETUMPKA,AL,36093,-86.1874,32.49562
8400100045,222 E DRAKE AVE,AUBURN,AL,36830,-85.4782,32.61408
8400100046,3737 BOB WALLACE AVE,HUNTSVILLE,AL,35805,-86.61819,34.71282
8400100056,127 ROSE ST,GEORGIANA,AL,36033,-86.74566,31.65737
8400100065,530 TEMPLE AVENUE NORTH,FAYETTE,AL,35555,-87.83088,33.68726
8400100086,1731 1ST AVE N,BIRMINGHAM,AL,35203,-86.80921,33.51275
8400100094,1731 1ST AVE N STE 120,BIRMINGHAM,AL,35203,-86.80949,33.51496
8400100095,PO BOX 13961,BIRMINGHAM,AL,35202,-86.80581,33.51634
8400100096,12401 BELLINGRATH GARDENS RD,THEODORE,AL,36582,-88.15263,30.4637
8400100105,400 4TH ST SW,RED BAY,AL,35582,-88.14745,34.44257
8400100119,248 HIGHWAY 231 N,TROY,AL,36081,-85.99719,31.85412
8400100124,2000 8TH AVENUE NORTH,BIRMINGHAM,AL,35203,-86.80939,33.52206
8400100127,1905 ALABAMA AVE,BESSEMER,AL,35020,-86.95051,33.40094
8400100140,723 BANK ST NW,DECATUR,AL,35601,-86.98777,34.59053
8400100149,534 A WALNUT STREET,GADSDEN,AL,35901,-86.01258,34.01135
8400100166,PO BOX 75,FAIRHOPE,AL,36533,-87.9029,30.52517
8400100167,495BRENDA DR,MADISON,AL,35758,-86.74156,34.7146
8400100172,300 W TALLASSEE ST,WETUMPKA,AL,36092,-86.20616,32.59985
8400100182,PO BOX 549,ATHENS,AL,35612,-86.97072,34.80672
8400100190,140 BLAIR FARMS RD,ODENVILLE,AL,35120,-86.40964,33.67461
8400100195,PO BOX 1548,MONTGOMERY,AL,36102,-86.31088,32.38083
8400100199,1410 WATER AVE,SELMA,AL,36703,-87.01614,32.40797
8400100203,174 COUNTY ROAD 241,MOULTON,AL,35650,-87.2792,34.53612
8400100205,1741 5TH AVENUE SE,DECATUR,AL,35601,-86.98293,34.58039
8400100206,10830 AL HIGHWAY 1,ODENVILLE,AL,35120,-86.49679,33.57656
8400100207,20524 HWY 431N,GUNTERSVILLE,AL,35976,-86.2544,34.40105
8400100212,PO BOX 1587,ANNISTON,AL,36202,-85.82646,33.65842
8400100213,PO BOX 3242,MONTGOMERY,AL,36109,-86.27306,32.42108
8400100233,102 D WYNN DRIVE,HUNTSVILLE,AL,35805,-86.69326,34.75149
8400100240,15161 WARD RD W,WILMER,AL,36587,-88.39683,30.82633
8400100241,2630 CAHABA RD,MOUNTAIN BRK,AL,35223,-86.77398,33.48437
8400100247,401 OAK AVE,FAIRHOPE,AL,36532,-87.90355,30.52659
8400100248,PO BOX 1205,SELMA,AL,36702,-87.02827,32.41279
8400100254,515 BROAD STREET,GADSDEN,AL,35901,-86.00513,34.01391
8400100270,PO BOX 1968,MOBILE,AL,36633,-88.10646,30.6708
8400100279,100 TERRACE DR,PELHAM,AL,35124,-86.79516,33.32452
8400100286,120 EAST ST,DORA,AL,35062,-87.09091,33.73169

In [8]:
# Transform DataFrame into tables

# TABLE 1 - Museums by MUSEUM BY AAM 

# Create a filtered dataframe from specific columns
name_col = ["MID", "AAMREG"]
museums_by_region = us_museums_df[name_col].copy()

# Rename the column headers
museums_by_region = museums_by_region.rename(columns = {"MID": "id",
                                                    "AAMREG": "reg_number"})

# Clean the data by dropping duplicates and setting the index
museums_by_region.drop_duplicates("id", inplace = True)
museums_by_region.set_index("id", inplace = True)

museums_by_region.head()

           reg_number
id
8400100026          3
8400100029          3
8400100036          3
8400100037          3
8400100045          3

In [16]:
# Create database connection
connection_string = "root:root@127.0.0.1:3306/us_museums_db"
engine = create_engine(f'mysql+pymysql://{connection_string}')

In [17]:
# Confirm tables
engine.table_names()

['address', 'museums_by_aam', 'name']

In [19]:
# Load DataFrames into database
museums_by_address.to_sql(name = 'address', con = engine, if_exists = 'append', index = True)

DataError: (pymysql.err.DataError) (1265, "Data truncated for column 'zip_code' at row 1")
[SQL: INSERT INTO address (id, street_address, city, state, zip_plus_4, zip_code, longitude, latitude) VALUES (%(id)s, %(street_address)s, %(city)s, %(state)s, %(zip_plus_4)s, %(zip_code)s, %(longitude)s, %(latitude)s)]
[parameters: ({'id': '8400100026', 'street_address': '4850 MUSEUM DR', 'city': 'MOBILE', 'state': 'AL', 'zip_plus_4': '36689', 'zip_code': '36689-0426', 'longitude': '-88.15462', 'latitude': '30.70401'}, {'id': '8400100029', 'street_address': 'ONE MUSEUM DRIVE', 'city': 'MONTGOMERY', 'state': 'AL', 'zip_plus_4': '36123', 'zip_code': '36117', 'longitude': '-86.2087', 'latitude': '32.3526'}, {'id': '8400100036', 'street_address': '111 SOUTH ROYAL STREET', 'city': 'MOBILE', 'state': 'AL', 'zip_plus_4': '36602', 'zip_code': '36602-2315', 'longitude': '-88.07704', 'latitude': '30.69234'}, {'id': '8400100037', 'street_address': '3001 JASMINE HILL RD', 'city': 'WETUMPKA', 'state': 'AL', 'zip_plus_4': '36093', 'zip_code': '36093', 'longitude': '-86.1874', 'latitude': '32.49562'}, {'id': '8400100045', 'street_address': '222 E DRAKE AVE', 'city': 'AUBURN', 'state': 'AL', 'zip_plus_4': '36830', 'zip_code': '36830', 'longitude': '-85.4782', 'latitude': '32.61408'}, {'id': '8400100046', 'street_address': '3737 BOB WALLACE AVE', 'city': 'HUNTSVILLE', 'state': 'AL', 'zip_plus_4': '35805', 'zip_code': '35805', 'longitude': '-86.61819', 'latitude': '34.71282'}, {'id': '8400100056', 'street_address': '127 ROSE ST', 'city': 'GEORGIANA', 'state': 'AL', 'zip_plus_4': '36033', 'zip_code': '36033', 'longitude': '-86.74566', 'latitude': '31.65737'}, {'id': '8400100065', 'street_address': '530 TEMPLE AVENUE NORTH', 'city': 'FAYETTE', 'state': 'AL', 'zip_plus_4': '35555', 'zip_code': '35555-2211', 'longitude': '-87.83088', 'latitude': '33.68726'}  ... displaying 10 of 30176 total bound parameter sets ...  {'id': '8409501961', 'street_address': '895 SHORE ROAD', 'city': 'BRONX', 'state': 'NY', 'zip_plus_4': '10464', 'zip_code': '10464', 'longitude': '-73.79448', 'latitude': '40.88292'}, {'id': '8409502448', 'street_address': '4097 ALBANY POST RD', 'city': 'HYDE PARK', 'state': 'NY', 'zip_plus_4': '12538', 'zip_code': '12538', 'longitude': '-73.91055', 'latitude': '41.76829'})]
(Background on this error at: http://sqlalche.me/e/9h9h)